<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>四則演算３</title>
</head>

<body>
	<h1>四則演算３つの値</h1>
	<form action="/kekka3" method="post">
		<input name="p1" type="number">
		<select name="first1">
			<option value="firstTasu">＋</option>
			<option value="firstHiku">ー</option>
			<option value="firstKake">×</option>
			<option value="firstWaru">÷</option>
		</select>
		<input name="p2" type="number">
		<select name="sisoku1">
			<option value="tasu">＋</option>
			<option value="hiku">ー</option>
			<option value="kake">×</option>
			<option value="waru">÷</option>
		</select>
		<input name="p3" type="number">
		<input type="submit" value="計算する">
	</form>
	<p><span th:text="${kekka}"></span></p>
</body>

</html>